*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:#000;}

#header{width: 100%;height: 100px;}
.header_inner{width: 1320px; position: relative; margin: 0 auto;}
.header_inner .logo{position: absolute;left: 0;top: 20px;}
.header_inner .title{position: absolute;left: 50%;top: 50px; margin-left: -115px;}
.login{float: right;}
.login li{float: left; margin-top: 15px;}
.login li a{display: block; padding: 15px 10px; font-size: 18px;}
.login li a:hover{color: dodgerblue;}


#nav{width: 100%; height: 70px;text-align: center; }
.nav_inner{width: 1320px; height: 70px; margin: 0 auto; }
.nav_inner li{float: left;width: 25%; margin-top: 10px;}
.nav_inner li a{display: block; padding: 20px 10px; font-size: 19px; font-weight: bold;}
.nav_inner li a:hover{color: orange;}
#banner{width: 100%;height: 860px;  background: url(../images/main.jpg)no-repeat; background-size: cover;}


#con{width: 100%;height: 4525px; text-align: center; }
.con_inner{width: 1320px;height: 480px; margin: 0 auto;}
h2{font-size: 50px; margin: 30px 0;}
.left{width: 660px;height: 450px; float: left;}
.right{width: 660px;height: 450px; float: right; text-align: center; background-color: antiquewhite;}
.left1{width: 660px;height: 450px; float: left; background-color: rgb(234, 158, 82);text-align: center;}
.right1{width: 660px;height: 450px; float: right;  }

.left2{width: 660px;height: 450px; float: left; }
.right2{width: 660px;height: 450px; float: right; text-align: center; background-color: rgb(140, 175, 240);}
.left3{width: 660px;height: 450px; float: left; background-color:rgb(190, 114, 209) ; text-align: center;}
.right3{width: 660px;height: 450px; float: right;  }




h3{margin-top: 150px; font-size: 35px;margin-bottom: 20px;}
.con_text{font-size: 18px; margin-top: 20px;}

/*corp*/

.corp{width: 1320px; margin: 0 auto;
   background-color: rgb(255, 146, 237);
   /* height: 600px; */
   overflow: hidden;
  }

.corp_inner{width: 1320px; text-align: center;
  /* height: 120px;  */
  border-top: 1px solid #555;
  overflow: hidden;
}


/* 
.corp_inner1{width: 1320px; 
  height: 120px; 
  border-top: 1px solid #555; border-bottom: 1px solid #555;} */

.year{float: left; 
   width:200px;
  padding: 30px 0;
  box-sizing: border-box; clear: both;
   font-size: 25px;
    color: rgb(226, 113, 194); padding-right: }
/* .year ul{float: right; padding: 20px;} */

.corp_text{width:1120px; float:right; padding:30px 0; text-align: center;}



#footer{width: 100%; height: 300px; background-color: #555; margin-top: 100px;}
    .footer_inner{width: 1320px;height: 280px; margin: 0 auto;}
   .footer_ul{width:670px; float:left;}



    .footer_text li{float: left;}
    .footer_text  li a{display: block; color: #fff; padding: 70px 15px 15px 15px; font-size: 20px;}
   
    .footer_text2{color: #fff;clear: both;  margin: 30px 0 10px 15px; 
     clear: both;}
    
   .sns{ float: left; }
    .sns li{float: left;}
    .sns li a{display: block; padding: 0 10px 0  10px; opacity: 0.5;}
    .sns li a:hover{opacity: 1;}

  .footer_ul2{float:  left; color: #fff; width:300px; margin-top:70px;}
             .customerpadding{padding-top:30px;}
  
    .footer_inner .logo2{float: right;  }

    .footer_ul2 ul li:nth-child(1){font-size:19px; font-weight: bold; padding-bottom:15px;}
    .more{padding-top:20px;}

    .logo2{display:inline-block; margin-top:170px;}
